
ion-content {
    background-image : url("../../assets/imgs/birth.jpg") ;
    background-size: cover;
    background-position: absolute;


}

h2{
text-align: center;


}
footer{
   
    position: relative;
    top:450px;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    

}